page{
    background-color: #797979;
}
.tou{
    border-radius: 15px;
    
}
.fr{
   
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.tex{
    margin-top: 20px;
}